<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Devices</key>
	<dict>
		<key>FakeID</key>
		<dict>
			<key>LAN</key>
			<string>0x16b414e4</string>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Enable Broadcom 57781 for 10.10.4 (Step 1)</string>
				<key>Name</key>
				<string>AppleBCM5701Ethernet</string>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Find</key>
				<string>pci14e4,16b4</string>
				<key>Replace</key>
				<string>pci14e4,16b1</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable Broadcom 57781 for 10.10.4 (Step 2)</string>
				<key>Name</key>
				<string>AppleBCM5701Ethernet</string>
				<key>Find</key>
				<data>6NKm//9miYM=</data>
				<key>Replace</key>
				<data>uLQWAABmiYM=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>e8d2a6ffff668983</string>
					<key>Replace</key>
					<string>b8b4160000668983</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable Broadcom 57781 for 10.10.4 (Step 3)</string>
				<key>Name</key>
				<string>AppleBCM5701Ethernet</string>
				<key>Find</key>
				<data>6OKl//9miYM=</data>
				<key>Replace</key>
				<data>uOQUAABmiYM=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>e8e2a5ffff668983</string>
					<key>Replace</key>
					<string>b8e4140000668983</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable Broadcom 57781 for 10.10.4 (Step 4)</string>
				<key>Name</key>
				<string>AppleBCM5701Ethernet</string>
				<key>Find</key>
				<data>6Mel//9miYM=</data>
				<key>Replace</key>
				<data>uLQWAABmiYM=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>e8c7a5ffff668983</string>
					<key>Replace</key>
					<string>b8b4160000668983</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable Broadcom 57781 for 10.10.4 (Step 5)</string>
				<key>Name</key>
				<string>AppleBCM5701Ethernet</string>
				<key>Find</key>
				<data>ADU3NzY1AA==</data>
				<key>Replace</key>
				<data>ADU3NzgxAA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>00353737363500</string>
					<key>Replace</key>
					<string>00353737383100</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable Broadcom 57781 for 10.9.5 (Step 1)</string>
				<key>Name</key>
				<string>AppleBCM5701Ethernet</string>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Find</key>
				<string>pci14e4,16b4</string>
				<key>Replace</key>
				<string>pci14e4,16b1</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable Broadcom 57781 for 10.9.5 (Step 2)</string>
				<key>Name</key>
				<string>AppleBCM5701Ethernet</string>
				<key>Find</key>
				<data>6H+o//9miYM=</data>
				<key>Replace</key>
				<data>uLQWAABmiYM=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>e87fa8ffff668983</string>
					<key>Replace</key>
					<string>b8b4160000668983</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable Broadcom 57781 for 10.9.5 (Step 3)</string>
				<key>Name</key>
				<string>AppleBCM5701Ethernet</string>
				<key>Find</key>
				<data>6I2n//9miYM=</data>
				<key>Replace</key>
				<data>uOQUAABmiYM=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>e88da7ffff668983</string>
					<key>Replace</key>
					<string>b8e4140000668983</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable Broadcom 57781 for 10.9.5 (Step 4)</string>
				<key>Name</key>
				<string>AppleBCM5701Ethernet</string>
				<key>Find</key>
				<data>6HKn//9miYM=</data>
				<key>Replace</key>
				<data>uLQWAABmiYM=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>e872a7ffff668983</string>
					<key>Replace</key>
					<string>b8b4160000668983</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable Broadcom 57781 for 10.9.5 (Step 5)</string>
				<key>Name</key>
				<string>AppleBCM5701Ethernet</string>
				<key>Find</key>
				<data>ADU3NzY1AA==</data>
				<key>Replace</key>
				<data>ADU3NzgxAA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>00353737363500</string>
					<key>Replace</key>
					<string>00353737383100</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
