<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.10.2 (Step 1) - Disable Intel &amp; Fresco Logic USB3.0 controllers check</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>9oDUAAAAgHU0</data>
				<key>Replace</key>
				<data>9oDUAAAAgOs0</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>f680d4000000807534</string>
					<key>Replace</key>
					<string>f680d400000080eb34</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.10.2 (Step 2) - Disable XHCI 1.0 check</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>QbzHAgDgPQABAAA=</data>
				<key>Replace</key>
				<data>QbzHAgDgPQAAAAA=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>41bcc70200e03d00010000</string>
					<key>Replace</key>
					<string>41bcc70200e03d00000000</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.10.2 (Step 3) - Patch MSI or pin interrupts</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>gUkIAABAAA==</data>
				<key>Replace</key>
				<data>gUkIAAAAAA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>81490800004000</string>
					<key>Replace</key>
					<string>81490800000000</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.10.2 (Step 4) - Patch MSI or pin interrupts</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>QcdHCAAAQAA=</data>
				<key>Replace</key>
				<data>QcdHCAAAAAA=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>41c7470800004000</string>
					<key>Replace</key>
					<string>41c7470800000000</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.10.2 (Step 5) - Disable the sleep code leaving the controller in non-working state after wake</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>xoDIAAAAAQ==</data>
				<key>Replace</key>
				<data>xoDIAAAAAA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>c680c800000001</string>
					<key>Replace</key>
					<string>c680c800000000</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.10.2 (Step 6) - Enable PCI power management if there is no such code in DSDT</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>dU1Ii7voAQAA</data>
				<key>Replace</key>
				<data>601Ii7voAQAA</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>754d488bbbe8010000</string>
					<key>Replace</key>
					<string>eb4d488bbbe8010000</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.9.5 (Step 1) - Disable Intel &amp; Fresco Logic USB3.0 controllers check</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>9oDUAAAAgHU6</data>
				<key>Replace</key>
				<data>9oDUAAAAgOs6</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>f680d400000080753a</string>
					<key>Replace</key>
					<string>f680d400000080eb3a</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.9.5 (Step 2) - Disable XHCI 1.0 check</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>Zj0AAQ==</data>
				<key>Replace</key>
				<data>Zj0AAA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>663d0001</string>
					<key>Replace</key>
					<string>663d0000</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.9.5 (Step 3) - Patch MSI or pin interrupts</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>gUkIAABAAA==</data>
				<key>Replace</key>
				<data>gUkIAAAAAA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>81490800004000</string>
					<key>Replace</key>
					<string>81490800000000</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.9.5 (Step 4) - Patch MSI or pin interrupts</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>QcdHCAAAQAA=</data>
				<key>Replace</key>
				<data>QcdHCAAAAAA=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>41c7470800004000</string>
					<key>Replace</key>
					<string>41c7470800000000</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.9.5 (Step 5) - Disable the sleep code leaving the controller in non-working state after wake</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>xoDIAAAAAQ==</data>
				<key>Replace</key>
				<data>xoDIAAAAAA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>c680c800000001</string>
					<key>Replace</key>
					<string>c680c800000000</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.9.5 (Step 6) - Enable PCI power management if there is no such code in DSDT</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>dU1Ii7voAQAA</data>
				<key>Replace</key>
				<data>601Ii7voAQAA</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>754d488bbbe8010000</string>
					<key>Replace</key>
					<string>eb4d488bbbe8010000</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
