<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Fix kernel panic for 10.10.4 (Step 1)</string>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Find</key>
				<data>ueIAAAAPMA==</data>
				<key>Replace</key>
				<data>ueIAAACQkA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>b9e20000000f30</string>
					<key>Replace</key>
					<string>b9e20000009090</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix kernel panic for 10.10.4 (Step 2)</string>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Find</key>
				<data>ueIAAABIifAPMA==</data>
				<key>Replace</key>
				<data>ueIAAABIifCQkA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>b9e20000004889f00f30</string>
					<key>Replace</key>
					<string>b9e20000004889f09090</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix kernel panic for 10.10.4 (Step 3)</string>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Find</key>
				<data>ueIAAABIifgPMA==</data>
				<key>Replace</key>
				<data>ueIAAABIifiQkA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>b9e20000004889f80f30</string>
					<key>Replace</key>
					<string>b9e20000004889f89090</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix kernel panic for 10.9.5 (Step 1)</string>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Find</key>
				<data>ueIAAAAPMA==</data>
				<key>Replace</key>
				<data>ueIAAACQkA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>b9e20000000f30</string>
					<key>Replace</key>
					<string>b9e20000009090</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix kernel panic for 10.9.5 (Step 2)</string>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Find</key>
				<data>ueIAAABIifIPMA==</data>
				<key>Replace</key>
				<data>ueIAAABIifKQkA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>b9e20000004889f20f30</string>
					<key>Replace</key>
					<string>b9e20000004889f29090</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix kernel panic on MacPro4,1/5,1</string>
				<key>Name</key>
				<string>AppleTyMCEDriver</string>
				<key>Find</key>
				<data>cgoATWFjUHJvNCwxAE1hY1BybzUsMQBY</data>
				<key>Replace</key>
				<data>cgoAAAAAAAAAAAAAAAAAAAAAAAAAAABY</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>720a004d616350726f342c31004d616350726f352c310058</string>
					<key>Replace</key>
					<string>720a00000000000000000000000000000000000000000058</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix CMOS reset for 10.10.4</string>
				<key>Name</key>
				<string>AppleRTC</string>
				<key>Find</key>
				<data>dS4Ptg==</data>
				<key>Replace</key>
				<data>6y4Ptg==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>752e0fb6</string>
					<key>Replace</key>
					<string>eb2e0fb6</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix CMOS reset for 10.9.5</string>
				<key>Name</key>
				<string>AppleRTC</string>
				<key>Find</key>
				<data>dS4Ptg==</data>
				<key>Replace</key>
				<data>6y4Ptg==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>752e0fb6</string>
					<key>Replace</key>
					<string>eb2e0fb6</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix internal disks displayed as external</string>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>45787465726e616c</string>
					<key>Replace</key>
					<string>496e7465726e616c</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM support for any SSD</string>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>004150504c452053534400</string>
					<key>Replace</key>
					<string>0000000000000000000000</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix sound assertion error</string>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>U291bmQgYXNzZXJ0aW9uIA==</data>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAAAAAAAAA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>536f756e6420617373657274696f6e20</string>
					<key>Replace</key>
					<string>00000000000000000000000000000000</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
