<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
		<key>CFBundleIdentifier</key>
		<string>com.pjalm.agpm</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Apple Graphics Power Management</string>
		<key>CFBundlePackageType</key>
		<string>KEXT</string>
		<key>CFBundleShortVersionString</key>
		<string>0.4</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>3</string>
		<key>IOKitPersonalities</key>
		<dict>
			<key>AGPM</key>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>com.apple.driver.AGPM</string>
				<key>IOClass</key>
				<string>AGPMController</string>
				<key>IONameMatch</key>
				<string>AGPMEnabler</string>
				<key>IOProbeScore</key>
				<integer>1</integer>
				<key>IOProviderClass</key>
				<string>IOPlatformPluginDevice</string>
				<key>Machines</key>
				<dict>
					<key>Mac-F65AE981FFA204ED</key>
					<dict>
						<key>Vendor1002Device6738</key>
						<dict>
							<key>QSC</key>
							<dict>
								<key>Enabled</key>
								<integer>1</integer>
								<key>Mode</key>
								<integer>1</integer>
								<key>hwPState</key>
								<array>
									<integer>0</integer>
									<integer>0</integer>
									<integer>0</integer>
									<integer>1</integer>
									<integer>1</integer>
									<integer>1</integer>
									<integer>1</integer>
									<integer>1</integer>
									<integer>2</integer>
								</array>
								<key>qscOnTime</key>
								<array>
									<integer>0</integer>
									<integer>2240</integer>
									<integer>3520</integer>
									<integer>0</integer>
									<integer>3680</integer>
									<integer>4960</integer>
									<integer>6720</integer>
									<integer>9120</integer>
									<integer>0</integer>
								</array>
							</dict>
							<key>control-id</key>
							<integer>17</integer>
							<key>max-power-state</key>
							<integer>8</integer>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>OSBundleRequired</key>
		<string>Safe Boot</string>
		<key>XX-IOKitDebug</key>
		<integer>65535</integer>
	</dict>
</plist>
