<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#DisableDrivers</key>
	<array>
		<string>CsmVideoDxe</string>
		<string>VBoxExt4</string>
	</array>
	<key>ACPI</key>
	<dict>
		<key>DropMCFG</key>
		<true/>
		<key>#PatchAPIC</key>
		<false/>
		<key>#ResetAddress</key>
		<string>0x64</string>
		<key>#ResetValue</key>
		<string>0xFE</string>
		<key>#SortedOrder</key>
		<array>
			<string>SSDT-3.aml</string>
			<string>SSDT-1.aml</string>
			<string>SSDT-2.aml</string>
		</array>
		<key>#smartUPS</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>#DropOEM_DSM</key>
			<dict>
				<key>ATI</key>
				<true/>
				<key>Firewire</key>
				<true/>
				<key>HDA</key>
				<true/>
				<key>HDMI</key>
				<true/>
				<key>IDE</key>
				<true/>
				<key>IntelGFX</key>
				<true/>
				<key>LAN</key>
				<true/>
				<key>LPC</key>
				<false/>
				<key>NVidia</key>
				<true/>
				<key>SATA</key>
				<true/>
				<key>SmBUS</key>
				<false/>
				<key>USB</key>
				<true/>
				<key>WIFI</key>
				<true/>
			</dict>
			<key>#Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Remove battery device from desktop</string>
					<key>Find</key>
					<data>
					W4IeQkFUMQhfSElEDEHQDAoIX1VJRAEUCF9T
					VEEApAA=
					</data>
					<key>Replace</key>
					<data>
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Add _SUN property for GIGE</string>
					<key>Find</key>
					<data>
					UFhTWAhfQURSAAhfUFJXEgYC
					</data>
					<key>Replace</key>
					<data>
					UFhTWAhfQURSAAhfU1VOCgQIX1BSVxIGAg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename GFX0 to IGPU</string>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename HDEF to AZAL</string>
					<key>Find</key>
					<data>
					SERFRg==
					</data>
					<key>Replace</key>
					<data>
					QVpBTA==
					</data>
				</dict>
			</array>
			<key>#Rtc8Allowed</key>
			<false/>
			<key>#SuspendOverride</key>
			<false/>
			<key>Debug</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP_0001</key>
				<false/>
				<key>AddHDMI_8000000</key>
				<false/>
				<key>AddIMEI_80000</key>
				<false/>
				<key>AddMCHC_0008</key>
				<false/>
				<key>AddPNLF_1000000</key>
				<false/>
				<key>DeleteUnused_400000</key>
				<false/>
				<key>FIX_ACST_4000000</key>
				<false/>
				<key>FIX_ADP1_800000</key>
				<false/>
				<key>FIX_INTELGFX_100000</key>
				<false/>
				<key>FIX_RTC_20000</key>
				<false/>
				<key>FIX_S3D_2000000</key>
				<false/>
				<key>FIX_TMR_40000</key>
				<false/>
				<key>FIX_WAK_200000</key>
				<false/>
				<key>FakeLPC_0020</key>
				<false/>
				<key>FixAirport_4000</key>
				<false/>
				<key>FixDarwin_0002</key>
				<false/>
				<key>FixDisplay_0100</key>
				<false/>
				<key>FixFirewire_0800</key>
				<false/>
				<key>FixHDA_8000</key>
				<false/>
				<key>FixHPET_0010</key>
				<false/>
				<key>FixIDE_0200</key>
				<false/>
				<key>FixIPIC_0040</key>
				<false/>
				<key>FixLAN_2000</key>
				<false/>
				<key>FixRegions_10000000</key>
				<false/>
				<key>FixSATA_0400</key>
				<false/>
				<key>FixSBUS_0080</key>
				<false/>
				<key>FixShutdown_0004</key>
				<false/>
				<key>FixUSB_1000</key>
				<false/>
				<key>NewWay_80000000</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>#Length</key>
				<integer>720</integer>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MCFG</string>
			</dict>
		</array>
		<key>HaltEnabler</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>#C3Latency</key>
			<string>0x03E7</string>
			<key>#DoubleFirstState</key>
			<true/>
			<key>#DropOem</key>
			<true/>
			<key>#EnableC2</key>
			<false/>
			<key>#EnableC4</key>
			<false/>
			<key>EnableC6</key>
			<true/>
			<key>#EnableC7</key>
			<false/>
			<key>#MaxMultiplier</key>
			<integer>12</integer>
			<key>#MinMultiplier</key>
			<integer>8</integer>
			<key>#PLimitDict</key>
			<integer>1</integer>
			<key>#PluginType</key>
			<integer>0</integer>
			<key>#UnderVoltStep</key>
			<integer>1</integer>
			<key>#UseSystemIO</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#Arguments</key>
		<string>-v arch=x86_64 slide=0 darkwake=0</string>
		<key>#LegacyBiosDefaultEntry</key>
		<integer>0</integer>
		<key>XMPDetection</key>
		<string>1</string>
		<key>Arguments</key>
		<string>kext-dev-mode=1 rootless=0 -v darkwake=0 dart=0</string>
		<key>Debug</key>
		<false/>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
		<key>Fast</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>#BusSpeedkHz</key>
		<integer>133330</integer>
		<key>#FrequencyMHz</key>
		<integer>3140</integer>
		<key>#QPI</key>
		<integer>4800</integer>
		<key>#SavingMode</key>
		<integer>7</integer>
		<key>Type</key>
		<string>0x04a9</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>#AddProperties</key>
		<array>
			<dict>
				<key>Device</key>
				<string>ATI</string>
				<key>Key</key>
				<string>@0,name</string>
				<key>Value</key>
				<string>ATY,Duckweed</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>ATI</string>
				<key>Key</key>
				<string>@1,name</string>
				<key>Value</key>
				<string>ATY,Duckweed</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>ATI</string>
				<key>Key</key>
				<string>@2,name</string>
				<key>Value</key>
				<string>ATY,Duckweed</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>ATI</string>
				<key>Key</key>
				<string>@3,name</string>
				<key>Value</key>
				<string>ATY,Duckweed</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>ATI</string>
				<key>Key</key>
				<string>model</string>
				<key>Value</key>
				<string>AMD Radeon HD 6870</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>HDA</string>
				<key>Key</key>
				<string>AAPL,slot-name</string>
				<key>Value</key>
				<string>Built In</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>HDA</string>
				<key>Key</key>
				<string>name</string>
				<key>Value</key>
				<string>Realtek Audio Controller</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>HDA</string>
				<key>Key</key>
				<string>model</string>
				<key>Value</key>
				<string>Realtek Audio Controller</string>
			</dict>
			<dict>
				<key>Device</key>
				<string>HDA</string>
				<key>Key</key>
				<string>device_type</string>
				<key>Value</key>
				<string>Audio Controlle</string>
			</dict>
		</array>
		<key>#AddProperties</key>
		<array>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Key</key>
				<string>AAPL,HasPanel</string>
				<key>Value</key>
				<data>
				AQAAAA==
				</data>
			</dict>
			<dict>
				<key>Device</key>
				<string>NVidia</string>
				<key>Key</key>
				<string>AAPL,Haslid</string>
				<key>Value</key>
				<data>
				AQAAAA==
				</data>
			</dict>
		</array>
		<key>#ForceHPET</key>
		<false/>
		<key>#InjectString</key>
		<false/>
		<key>#Properties</key>
		<string>7a00000001000000010000006e0000000200000002010c00d041030a0000000001010600001b7fff040028000000500069006e0043006f006e00660069006700750072006100740069006f006e00730000000800000001080100180000006c00610079006f00750074002d00690064000000080000000c000000</string>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>Detect</string>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>#ATI</key>
			<string>0x67501002</string>
			<key>#IMEI</key>
			<string>0x1e208086</string>
			<key>#IntelGFX</key>
			<string>0x01268086</string>
			<key>LAN</key>
			<string>0x16b414e4</string>
			<key>#NVidia</key>
			<string>0x11de10de</string>
			<key>#SATA</key>
			<string>0x25628086</string>
			<key>#WIFI</key>
			<string>0x431214e4</string>
			<key>#XHCI</key>
			<string>0x0</string>
		</dict>
		<key>NoDefaultProperties</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>#ConsoleMode</key>
		<string>0</string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>#AddArguments</key>
					<string>-v</string>
					<key>#Arguments</key>
					<string>Kernel=mach_kernel</string>
					<key>#Disabled</key>
					<true/>
					<key>Hidden</key>
					<true/>
					<key>#Hotkey</key>
					<string>M</string>
					<key>#InjectKexts</key>
					<false/>
					<key>#NoCaches</key>
					<false/>
					<key>#Path</key>
					<string>\EFI\BOOT\BOOTX64.efi</string>
					<key>#Title</key>
					<string>MyCustomEntry</string>
					<key>Type</key>
					<string>OSXRecovery</string>
					<key>#Volume</key>
					<string>9ABAC1FB-5A39-3BA0-B797-EED83ED8362C</string>
				</dict>
				<dict>
					<key>#Hidden</key>
					<false/>
					<key>#InjectKexts</key>
					<false/>
					<key>#NoCaches</key>
					<false/>
					<key>#SubEntries</key>
					<array>
						<dict>
							<key>#AddArguments</key>
							<string>-v</string>
							<key>#Title</key>
							<string>Boot OS X 10.8.5 (12F36) Mountain Lion in Verbose Mode</string>
						</dict>
					</array>
					<key>#Title</key>
					<string>OS X 10.8.5 (12F36) Mountain Lion</string>
					<key>#Type</key>
					<string>OSX</string>
					<key>#Volume</key>
					<string>454794AC-760D-46E8-8F77-D6EB23D2FD32</string>
				</dict>
			</array>
			<key>Legacy</key>
			<array>
				<dict>
					<key>#Disabled</key>
					<true/>
					<key>Hidden</key>
					<true/>
					<key>#Hotkey</key>
					<string>L</string>
					<key>#Title</key>
					<string>MyLegacyEntry</string>
					<key>Type</key>
					<string>Windows</string>
					<key>#Volume</key>
					<string>89433CD3-21F2-4D3C-95FC-722C48066D3A</string>
				</dict>
			</array>
			<key>#Tool</key>
			<array>
				<dict>
					<key>#Arguments</key>
					<string>-b</string>
					<key>#Disabled</key>
					<false/>
					<key>#Hidden</key>
					<false/>
					<key>#Hotkey</key>
					<string>S</string>
					<key>#Path</key>
					<string>\EFI\CLOVER\TOOLS\Shell64-v1.efi</string>
					<key>#Title</key>
					<string>MyCustomShell</string>
					<key>#Volume</key>
					<string>D68F1885-571C-4441-8DD5-F14803EFEF54</string>
				</dict>
			</array>
		</dict>
		<key>#CustomIcons</key>
		<false/>
		<key>#Hide</key>
		<array>
			<string>Windows</string>
			<string>BOOTX64.EFI</string>
		</array>
		<key>Language</key>
		<string>ko:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>2</integer>
		</dict>
		<key>#Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>#TextOnly</key>
		<false/>
		<key>ScreenResolution</key>
		<string>1280x1024</string>
		<key>Theme</key>
		<string>bootcamp</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>#Connectors</key>
		<array/>
		<key>#CustomEDID</key>
		<data>
		AP///////wAyDADfAAAAAAASAQOAIRV4CunVmVlTjigmUFQAAAABAQEBAQEB
		AQEBAQEBAQEB3iGgcFCEHzAgIFYAS88QAAAY3iGgcFCEHzAgIFYAS88QAAAA
		AAAA/gBXNjU3RwAxNTRXUDEKAAAA/gAjMz1IZYSq/wIBCiAgAJo=
		</data>
		<key>#DualLink</key>
		<integer>0</integer>
		<key>FBName</key>
		<string>Duckweed</string>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<true/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>#InjectEDID</key>
		<true/>
		<key>#LoadVBios</key>
		<false/>
		<key>#NVCAP</key>
		<string>04000000000003000C0000000000000A00000000</string>
		<key>#NvidiaGeneric</key>
		<true/>
		<key>#NvidiaSingle</key>
		<false/>
		<key>#PatchVBios</key>
		<false/>
		<key>#PatchVBiosBytes</key>
		<array>
			<dict>
				<key>Find</key>
				<data>
				gAeoAqAF
				</data>
				<key>Replace</key>
				<data>
				gAeoAjgE
				</data>
			</dict>
		</array>
		<key>#VRAM</key>
		<integer>1024</integer>
		<key>VideoPorts</key>
		<integer>4</integer>
		<key>#display-cfg</key>
		<string>03010300FFFF0001</string>
		<key>#ig-platform-id</key>
		<string>0x01620005</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>ATIConnectorsController</key>
		<string>6000</string>
		<key>ATIConnectorsData</key>
		<string>00040000040300000001000012040401000400000403000000010000220505020008000004020000000100001102030400020000140200000001000000000605</string>
		<key>ATIConnectorsPatch</key>
		<string>00020000040000000001000011020106000800000002000000010000220506040004000004030000000100001204040104000000140200000001000010000305</string>
		<key>#FakeCPUID</key>
		<string>0x010676</string>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Fix kernel panic for 10.10.5 (Step 1)</string>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Find</key>
				<data>ueIAAAAPMA==</data>
				<key>Replace</key>
				<data>ueIAAACQkA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>b9e20000000f30</string>
					<key>Replace</key>
					<string>b9e20000009090</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix kernel panic for 10.10.5 (Step 2)</string>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Find</key>
				<data>ueIAAABIifAPMA==</data>
				<key>Replace</key>
				<data>ueIAAABIifCQkA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>b9e20000004889f00f30</string>
					<key>Replace</key>
					<string>b9e20000004889f09090</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix kernel panic for 10.10.5 (Step 3)</string>
				<key>Name</key>
				<string>AppleIntelCPUPowerManagement</string>
				<key>Find</key>
				<data>ueIAAABIifgPMA==</data>
				<key>Replace</key>
				<data>ueIAAABIifiQkA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>b9e20000004889f80f30</string>
					<key>Replace</key>
					<string>b9e20000004889f89090</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix kernel panic on MacPro4,1/5,1</string>
				<key>Name</key>
				<string>AppleTyMCEDriver</string>
				<key>Find</key>
				<data>cgoATWFjUHJvNCwxAE1hY1BybzUsMQBY</data>
				<key>Replace</key>
				<data>cgoAAAAAAAAAAAAAAAAAAAAAAAAAAABY</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>720a004d616350726f342c31004d616350726f352c310058</string>
					<key>Replace</key>
					<string>720a00000000000000000000000000000000000000000058</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix CMOS reset for 10.10.5</string>
				<key>Name</key>
				<string>AppleRTC</string>
				<key>Find</key>
				<data>dS4Ptg==</data>
				<key>Replace</key>
				<data>6y4Ptg==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>752e0fb6</string>
					<key>Replace</key>
					<string>eb2e0fb6</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix internal disks displayed as external</string>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>45787465726e616c</string>
					<key>Replace</key>
					<string>496e7465726e616c</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM support for any SSD</string>
				<key>Name</key>
				<string>#IOAHCIBlockStorage</string>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>004150504c452053534400</string>
					<key>Replace</key>
					<string>0000000000000000000000</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Fix sound assertion error</string>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>U291bmQgYXNzZXJ0aW9uIA==</data>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAAAAAAAAA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>536f756e6420617373657274696f6e20</string>
					<key>Replace</key>
					<string>00000000000000000000000000000000</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable ALC898</string>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Find</key>
				<data>ixnUEQ==</data>
				<key>Replace</key>
				<data>mQjsEA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>8b19d411</string>
					<key>Replace</key>
					<string>9908ec10</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.10.5 (Step 1) - Disable Intel and Fresco Logic USB3.0 controllers check</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>9oDUAAAAgHU0</data>
				<key>Replace</key>
				<data>9oDUAAAAgOs0</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>f680d4000000807534</string>
					<key>Replace</key>
					<string>f680d400000080eb34</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.10.5 (Step 2) - Disable XHCI 1.0 check</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>QbzHAgDgPQABAAA=</data>
				<key>Replace</key>
				<data>QbzHAgDgPQAAAAA=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>41bcc70200e03d00010000</string>
					<key>Replace</key>
					<string>41bcc70200e03d00000000</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.10.5 (Step 3) - Patch MSI or pin interrupts</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>gUkIAABAAA==</data>
				<key>Replace</key>
				<data>gUkIAAAAAA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>81490800004000</string>
					<key>Replace</key>
					<string>81490800000000</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.10.5 (Step 4) - Patch MSI or pin interrupts</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>QcdHCAAAQAA=</data>
				<key>Replace</key>
				<data>QcdHCAAAAAA=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>41c7470800004000</string>
					<key>Replace</key>
					<string>41c7470800000000</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.10.5 (Step 5) - Disable the sleep code leaving the controller in non-working state after wake</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>xoDIAAAAAQ==</data>
				<key>Replace</key>
				<data>xoDIAAAAAA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>c680c800000001</string>
					<key>Replace</key>
					<string>c680c800000000</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB 3.0 for 10.10.5 (Step 6) - Enable PCI power management if there is no such code in DSDT</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Find</key>
				<data>dU1Ii7voAQAA</data>
				<key>Replace</key>
				<data>601Ii7voAQAA</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>754d488bbbe8010000</string>
					<key>Replace</key>
					<string>eb4d488bbbe8010000</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable Broadcom 57781 for 10.10.5 (Step 2)</string>
				<key>Name</key>
				<string>AppleBCM5701Ethernet</string>
				<key>Find</key>
				<data>6NKm//9miYM=</data>
				<key>Replace</key>
				<data>uLQWAABmiYM=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>e8d2a6ffff668983</string>
					<key>Replace</key>
					<string>b8b4160000668983</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable Broadcom 57781 for 10.10.5 (Step 3)</string>
				<key>Name</key>
				<string>AppleBCM5701Ethernet</string>
				<key>Find</key>
				<data>6OKl//9miYM=</data>
				<key>Replace</key>
				<data>uOQUAABmiYM=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>e8e2a5ffff668983</string>
					<key>Replace</key>
					<string>b8e4140000668983</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable Broadcom 57781 for 10.10.5 (Step 4)</string>
				<key>Name</key>
				<string>AppleBCM5701Ethernet</string>
				<key>Find</key>
				<data>6Mel//9miYM=</data>
				<key>Replace</key>
				<data>uLQWAABmiYM=</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>e8c7a5ffff668983</string>
					<key>Replace</key>
					<string>b8b4160000668983</string>
				</dict>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable Broadcom 57781 for 10.10.5 (Step 5)</string>
				<key>Name</key>
				<string>AppleBCM5701Ethernet</string>
				<key>Find</key>
				<data>ADU3NzY1AA==</data>
				<key>Replace</key>
				<data>ADU3NzgxAA==</data>
				<key>Hexadecimal</key>
				<dict>
					<key>Find</key>
					<string>00353737363500</string>
					<key>Replace</key>
					<string>00353737383100</string>
				</dict>
			</dict>
		</array>
		<key>AppleRTC</key>
		<true/>
		<key>AsusAICPUPM</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelHaswellE</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>MLB</key>
		<string>C02032109R5DC771H</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>11/16/12</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MM61.88Z.0106.B03.1211161202</string>
		<key>Board-ID</key>
		<string>Mac-F65AE981FFA204ED</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>#BoardSerialNumber</key>
		<string>C02032101R5DC771H</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>#BoardVersion</key>
		<string>Proto1</string>
		<key>ChassisAssetTag</key>
		<string>Mini-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<integer>16</integer>
		<key>Family</key>
		<string>Mac mini</string>
		<key>#FirmwareFeatures</key>
		<string>0xC0001403</string>
		<key>#LocationInChassis</key>
		<string>MLB</string>
		<key>#Memory</key>
		<dict>
			<key>Channels</key>
			<integer>2</integer>
			<key>Modules</key>
			<array>
				<dict>
					<key>Frequency</key>
					<integer>1333</integer>
					<key>Part</key>
					<string>C0001403</string>
					<key>Serial</key>
					<string>00001001</string>
					<key>Size</key>
					<integer>4096</integer>
					<key>Slot</key>
					<integer>0</integer>
					<key>Type</key>
					<string>DDR3</string>
					<key>Vendor</key>
					<string>Kingston</string>
				</dict>
				<dict>
					<key>Frequency</key>
					<integer>1333</integer>
					<key>Part</key>
					<string>C0001404</string>
					<key>Serial</key>
					<string>00001002</string>
					<key>Size</key>
					<integer>4096</integer>
					<key>Slot</key>
					<integer>2</integer>
					<key>Type</key>
					<string>DDR3</string>
					<key>Vendor</key>
					<string>Kingston</string>
				</dict>
			</array>
			<key>SlotCount</key>
			<integer>4</integer>
		</dict>
		<key>#Mobile</key>
		<true/>
		<key>ProductName</key>
		<string>Macmini6,2</string>
		<key>SerialNumber</key>
		<string>C02K5AP1DWYN</string>
		<key>#Slots</key>
		<array>
			<dict>
				<key>Device</key>
				<string>ATI</string>
				<key>ID</key>
				<integer>1</integer>
				<key>Name</key>
				<string>PCIe Slot 0</string>
				<key>Type</key>
				<integer>16</integer>
			</dict>
			<dict>
				<key>Device</key>
				<string>WIFI</string>
				<key>ID</key>
				<integer>0</integer>
				<key>Name</key>
				<string>Airport</string>
				<key>Type</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>#SmUUID</key>
		<string>00000000-0000-1000-8000-010203040506</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>#BacklightLevel</key>
		<string>0x0501</string>
		<key>#CustomUUID</key>
		<string>511CE201-1000-4000-9999-010203040506</string>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
